*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate
*.exe

*.sdf
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
Browse.VC.db
Intermediates/
ipch/
.vs/CiG Engine/v16/Browse.VC.db
*.db
dir_to_ignore/.vs
dir_to_ignore/x64